<!--
  Generated template for the AnimacoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-navbar>
    <ion-title>animacoes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="criarEfeito()">Efeito</button>
  <!-- A ligação entre a variável e o objeto na página é feita pela linha <p [@meuEfeito]="estadoAnimacao">. Toda vez que a variável estadoAnimacao muda de valor, o efeito é executado. -->
  <p [@meuEfeito]="estadoAnimacao">
    Texto Animacao 01
  </p>

  <!--O click do botão disparará um evento animation.start. A animação escolhida tem o nome de shake e será executada no intervalo
  de 1 segundo (1000ms).-->
  <div animates #animation="animates" text-center>
    <!-- O atributo "type" define o tipo de animação. Existe um link na documentação do tutorial 07 para as animações possíveis -->
    <button ion-button (click)="animation.start({type: 'pulse',   duration: '1000'})">Clique aqui</button>
  </div>

</ion-content>
