<ion-header>
  <ion-navbar color="dark" *ngIf="!visibilidade">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Meus Empréstimos</ion-title>
    <ion-buttons end>

      <button ion-button icon-only (click)="abrirPesquisa($event)">
        <ion-icon name="search"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

  <ion-navbar color="dark" *ngIf="visibilidade">
    <ion-searchbar [(ngModel)]="pesquisa" [showCancelButton]="shouldShowCancel" (ionInput)="pesquisar($event)" (ionClear)="cancelarPesquisa()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <button ion-item *ngFor="let item of itemsFilter">
        <ion-thumbnail item-start>
          <img src="{{item.lvFoto}}">
        </ion-thumbnail>
        <h2>{{item.lvTitulo}}</h2>
        <p>Devolver em:</p>
        <p>{{item.emDataFim}}</p>
        <button ion-button item-end (click)="itemTapped(item)">Ver</button>
        <!--Antes era assim: (click)="itemTapped($event, item)"-->
      </button>
    </ion-item>
  </ion-list>

  <div *ngIf="selectedItem" padding>
    You navigated here from
    <b>{{selectedItem.title}}</b>
  </div>
</ion-content>