<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>

      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{emprestimo.lvTitulo}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editarItem($event)">
        <ion-icon name="build"></ion-icon>
      </button>
      <button ion-button icon-only (click)="removerItem($event)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <img src="{{emprestimo.lvFoto}}">
    <ion-item>
      <ion-icon name="book" item-start large></ion-icon>
      <h2>{{emprestimo.lvTitulo}}</h2>
      <p>Ano: {{emprestimo.lvAno}}</p>
      <p>Data do Empréstimo: {{emprestimo.emDataInicio}}</p>
      <p>Data para Devolução: {{emprestimo.emDataFim}}</p>
      <p>Devolvido em: {{emprestimo.emDataDevolucao}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="buffer" item-left large></ion-icon>
      <button ion-button item-end (click)="devolverLivro(item)">Devolver</button>
    </ion-item>
  </ion-card>
</ion-content>