<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-fab right bottom>
  <button ion-fab color="light">
    <ion-icon name="md-share"></ion-icon>
  </button>
  <ion-fab-list side="left">
    <a href="#" onClick="window.open('https://twitter.com/ProjBiblioteca','_blank','location=yes');return false;" ion-fab block
      type="button">
      <ion-icon name="logo-twitter"></ion-icon>
    </a>
    <a href="#" onClick="window.open('https://www.facebook.com/Projeto-Biblioteca-457167134719951/','_blank','location=yes');return false;"
      ion-fab block type="button">
      <ion-icon name="logo-facebook"></ion-icon>
    </a>
  </ion-fab-list>
</ion-fab>

<ion-fab left bottom>
    <button ion-fab color="light">
      <ion-icon name="ios-apps"></ion-icon>
    </button>
    <ion-fab-list side="right">
      <a href="mailto:projetobiblioteca2018@gmail.com" ion-fab blocktype="button">
        <ion-icon name="md-at"></ion-icon>
      </a>
      <a href="tel:+40028922" ion-fab blocktype="button">
        <ion-icon name="ios-call"></ion-icon>
      </a>
    </ion-fab-list>
  </ion-fab>


<ion-content padding class="home-background">
  <ion-slides pager #slides class="slides">
    <ion-slide class="slide1">
      <img>
      <h1>Bem Vindo</h1>
      <h2>Leitor!</h2>
    </ion-slide>

    <ion-slide class="slide2">
      <p>Nós gostamos do cheiro dos livros, mas adoramos ter uma biblioteca de livros digitais à nossa disposição.</p>
    </ion-slide>

    <ion-slide class="slide3">
        <p>Descubra milhões de livros gratuitos</p>
        <p>Leve sua biblioteca com você</p>
        <p>Mergulhe em uma história</p>
      </ion-slide>

  </ion-slides>

  <!-- <h3>Projeto Biblioteca</h3> -->

  <!-- <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p> -->
  <div>
    <!-- <button ion-button secondary menuToggle color="dark">Menu</button> -->
  </div>
</ion-content>