@import url('https://fonts.googleapis.com/css?family=Limelight');
page-home {

}

.home-background {
    background: url("../assets/imgs/home.jpg") no-repeat center center fixed;
    background-size: cover;
}

.slides{
    position: absolute;
    left: 0%;
    top: -150px;

}

.slide2{
    font-size: 150%;
}
.slide3{
    font-size: 150%;
}

