<ion-header>
    <ion-navbar color="dark" *ngIf="!visibilidade">
        
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Listagem Livros</ion-title>
        <ion-buttons end>

            <button ion-button icon-only (click)="abrirPesquisa($event)">
                <ion-icon name="search"></ion-icon>
            </button>

        </ion-buttons>
    </ion-navbar>

    <ion-navbar color="dark" *ngIf="visibilidade">
        <ion-searchbar [(ngModel)]="pesquisa" [showCancelButton]="shouldShowCancel" (ionInput)="pesquisar($event)" (ionClear)="cancelarPesquisa()">
        </ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <button ion-item *ngFor="let item of itemsFilter">
                <ion-thumbnail item-start>
                    <img src="{{item.img}}">
                </ion-thumbnail>
                <h2>{{item.titulo}}</h2>
                <p>Ano: {{item.ano}}</p>
            </button>
        </ion-item>
    </ion-list>

    <div *ngIf="selectedItem" padding>
        You navigated here from
        <b>{{selectedItem.title}}</b>
    </div>
</ion-content>