page-signin {

}

.signin-background {
    background: url("../assets/imgs/login.jpg") no-repeat center center fixed;
    background-size: cover;
}
.font{
    font-family: "greatvibes-font"!important;
    font-size: 70px;
    top: 10%;
    text-shadow:white -2px -2px
   }
   

.font2{
    font-family: "greatvibes-font"!important;
    font-size: 35px;
    text-shadow:white -1px -1px
}

.signin-fields {
    margin-left: -4% ;
    padding: center;
    position: absolute;
    z-index: 2;
    top: 35%;
    width: 100%;
    
    padding: 10vw;
    text-align: center;
    color: black;
}
    
    
.logo {
    width: 100%;
    height: auto;
    margin-bottom: 15vh;
    padding-top: 9vh;
  }

  .slide-background {
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  ::-webkit-input-placeholder {
    color: black !important;
  }
    
    
