<!-- Nesse código estamos criando um formulário com dois inputs (e-mail e senha) e 2 botões (Signin e Novo Usuário). O primeiro
botão serve para o usuário logar, já o segundo servirá para criarmos um novo usuário, sendo que esse irá fazer a navegação
para a tela de SignUp. -->

<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entre ou Cadastre-se</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="signin-background">
  <form #f="ngForm" (ngSubmit)="onSignin(f)">
    <ion-list class="signin-fields">
      <h1>Olá de novo!</h1>
      <br>
      <h3>Pronto pra uma boa leitura?</h3>
      <br>
      <ion-item>
        <ion-label fixed>E-mail</ion-label>
        <ion-input type="email" ngModel name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" ngModel name="password" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-buttons>
      <button ion-button block type="submit" [disabled]="!f.valid">Signin</button>
      <button ion-button block type="button" color="light" (click)="novoUsuario()">Novo Usuário?</button>
    </ion-buttons>
  </form>
</ion-content> -->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entre ou Cadastre-se</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="slide-background">
  <ion-slides pager="false" autoplay="3000" loop="true" speed="5000" effect="fade">
      <ion-slide class="slide-background swiper-no-swiping" *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
        </ion-slide>
      </ion-slides>
      <form #f="ngForm" (ngSubmit)="onSignin(f)">
          <ion-list class="signin-fields">
            <h1 class="font">BookShelf</h1>
            <h3 class="font2">A sua biblioteca online</h3>
            <br>
            <br>
            <ion-item>
              <ion-label fixed>E-mail</ion-label>
              <ion-input type="email" ngModel name="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label fixed>Senha</ion-label>
              <ion-input type="password" ngModel name="password" required></ion-input>
            </ion-item>
            <ion-buttons>
                <button ion-button block type="submit" [disabled]="!f.valid">Entre</button>
                <button ion-button block type="button" color="light" (click)="novoUsuario()">Novo Usuário?</button>
              </ion-buttons>
          </ion-list>
  
      
    </form>
</ion-content>