<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>

      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{livro.titulo}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editarItem($event)">
        <ion-icon name="build"></ion-icon>
      </button>
      <button ion-button icon-only (click)="removerItem($event)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <img src="{{livro.img}}">
    <ion-item>
      <ion-icon name="book" item-start large></ion-icon>
      <h2>{{livro.titulo}}</h2>
      <p>Ano: {{livro.ano}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="buffer" item-left large></ion-icon>
      <h2></h2>
      <p>Qtde: {{livro.quantidade}}</p>
      <button ion-button item-end (click)="compartilhaLivro(item)">Compartilhar</button>
    </ion-item>
  </ion-card>
</ion-content>