<!--
  Generated template for the SobrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sobre</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="home-background">
  <ion-slides pager #slides class="slides">

      <ion-slide class="slide1">
          <h1>Neste aplicativo você poderá:</h1>
              <p>Criar um usuário para acessar o conteúdo</p>
              <p>Cadastrar novos livros</p>
              <p>Cadastrar novos autores</p>
              <p>Emprestar livros</p>
              <p>Enviar mensagens para outros usuários</p>
        </ion-slide>

    <ion-slide class="slide2">
      <img>
      <h4>Este aplicativo foi desenvolvido para que os usuários tenham acesso a diversas categorias de livros de diferentes autores.
      </h4>
      <h4>Tem como prioridade facilitar o acesso a leitura, sem necessidade de comparecer a uma biblioteca fisica.
      </h4>
    </ion-slide>

    <ion-slide class="slide3">
        <img>
        <h3>Desenvolvido por:</h3>
        <p>Victor Adriano</p>
        <p>Rodrigo Biliancieri</p>
        <p>Nicholas Braga</p>
        <p>Everton Godoy</p>
      </ion-slide>

      <ion-slide class="slide4">
          <img>
          <h3>Universidade Paulista - UNIP</h3>
          <p>Projeto iniciado em Abril de 2018.</p>
          
        </ion-slide>
      

  </ion-slides>

  <!-- <h3>Projeto Biblioteca</h3> -->

  <!-- <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p> -->
  <div>
    <!-- <button ion-button secondary menuToggle color="dark">Menu</button> -->
  </div>
</ion-content>