<!-- O html é praticamente o mesmo da tela signin.html, porém com apenas um botão para a criação do usuário. -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="signup-background">
  <form #f="ngForm" (ngSubmit)="onSignup(f)">
    <ion-list class="signup-fields">
      <h1 class="font3">Pronto para ter acesso à centenas de livros?</h1>
      <h3 class="font4">Preencha os campos e vamos começar</h3>
      <br>

      <ion-item>
        <ion-label fixed>Nome</ion-label>
        <ion-input type="text" ngModel name="nome" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label fixed>E-mail</ion-label>
        <ion-input type="email" ngModel name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Senha</ion-label>
        <ion-input type="password" ngModel name="password" required [minlength]="6"></ion-input>
      </ion-item>

    </ion-list>
    <button class="signup-button" ion-button block type="submit" [disabled]="!f.valid">Cadastrar</button>
  </form>
</ion-content>