page-signup {
}

.signup-background {
    background: url("../assets/img/background/background3.jpg") no-repeat center center fixed;
    background-size: cover;
}

.signup-fields {
    padding: 50% 0% 0%;
   
}

.font3{
    font-family: "pacifico-font"!important;
    font-size: 30px;
    
    text-shadow:white -1px -1px
   }

.font4{
    font-family: "pacifico-font"!important;
    font-size: 20px;
    
    text-shadow:white -1px -1px
   }